# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Vim
alias vim="/usr/local/Cellar/macvim/v7.3-53/MacVim.app/Contents/MacOS/Vim"

# Shortcuts
alias m="mvim"
alias v="vim"

# Django
alias pym="python manage.py"
alias pymrs="python manage.py runserver"
alias pymsp="python manage.py shell_plus"

# Pip
alias pipr="pip install -r requirements.txt"
alias pipd="pip install -r dev_requirements.txt"

# Re-attach or start new Screen
alias scr="screen -R"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

