# make a python virtualenv with extra options
function mkvenv {
  name=""
  if [ "${1}" == "" ]; then
    PWD=`pwd`
    name=`basename $PWD`
    echo "Name not specified, using current dir: $name"
  else
    name=${1}
  fi

  mkvirtualenv --no-site-packages $name

  # symlink the venv to the current dir
  ln -s "$WORKON_HOME/$name" venv
  echo "Symlinked $WORKON_HOME/$name to ./venv"
}

function pipr {
    local run_requirements="pip install -r ../requirements.txt"
    top_level=`/usr/bin/git rev-parse --show-toplevel`
    if [ $? -ne 0 ]; then
        top_level=`hg root`
        if [ $? -ne 0 ]; then
            echo "Could not detect git or hg so trying in current directory"
        fi
    fi
    cd $top_level
    $run_requirements
}

# share keys to a given host
function key-share {
  if [ "${1}" == "" ] ; then
    echo "Host not specified";
    echo "Usage key-share [user]@[host]";
    return 1
  fi

  host=${1}
  echo "${host}" | grep -q "@"
  if [ $? == 1 ] ; then
    host="incuna@${host}"
  fi

  cat ~/.ssh/id_george.pub | ssh ${host} 'cat - >> ~/.ssh/authorized_keys'
}

