bash/local
mutt/alias
pip/cache
pip/pip.log
pip/wheels
tvrenamr/*.log*
tvrenamr/cache
vim/autoload/plug.old
vim/init.vim
vim/plugged
vim/shada
fish/completions/docker.fish
fish/completions/kubectl.fish
