[submodule "bundle/ack.vim"]
  path = bundle/ack.vim
  url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerd-commenter"]
  path = bundle/nerd-commenter
  url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/nerd-tree"]
  path = bundle/nerd-tree
  url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/taglist"]
  path = bundle/taglist
  url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/surround"]
  path = bundle/surround
  url = https://github.com/vim-scripts/surround.vim.git
[submodule "bundle/haml"]
  path = bundle/haml
  url = https://github.com/vim-scripts/Haml.git
[submodule "bundle/jslint"]
  path = bundle/jslint
  url = https://github.com/vim-scripts/jslint.vim.git
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/supertab"]
  path = bundle/supertab
  url = https://github.com/ervandew/supertab.git
[submodule "bundle/git"]
  path = bundle/git
  url = https://github.com/tpope/vim-git.git
[submodule "bundle/matchit"]
  path = bundle/matchit
  url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/markdown-preview"]
  path = bundle/markdown-preview
  url = https://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/markdown"]
  path = bundle/markdown
  url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/rails"]
  path = bundle/rails
  url = https://github.com/tpope/vim-rails.git
[submodule "bundle/cucumber"]
  path = bundle/cucumber
  url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/align"]
  path = bundle/align
  url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/unimpaired"]
  path = bundle/unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/pyflakes-vim"]
  path = bundle/pyflakes-vim
  url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/simplenote"]
	path = bundle/simplenote
	url = /Users/george/Projects/simplenote.vim
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/vim-scripts/AutoClose--Alves.git
