[submodule "bundle/ack.vim"]
    path = bundle/ack.vim
    url = https://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/nerd-tree"]
    path = bundle/nerd-tree
    url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "bundle/surround"]
    path = bundle/surround
    url = https://github.com/vim-scripts/surround.vim.git
    ignore = untracked
[submodule "bundle/haml"]
    path = bundle/haml
    url = https://github.com/vim-scripts/Haml.git
    ignore = untracked
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = untracked
[submodule "bundle/git"]
    path = bundle/git
    url = https://github.com/tpope/vim-git.git
    ignore = untracked
[submodule "bundle/matchit"]
    path = bundle/matchit
    url = https://github.com/vim-scripts/matchit.zip.git
    ignore = untracked
[submodule "bundle/markdown"]
    path = bundle/markdown
    url = https://github.com/tpope/vim-markdown.git
    ignore = untracked
[submodule "bundle/unimpaired"]
    path = bundle/unimpaired
    url = https://github.com/tpope/vim-unimpaired.git
    ignore = untracked
[submodule "bundle/nginx"]
    path = bundle/nginx
    url = https://github.com/vim-scripts/nginx.vim.git
    ignore = untracked
[submodule "bundle/autoclose"]
    path = bundle/autoclose
    url = https://github.com/vim-scripts/AutoClose--Alves.git
    ignore = untracked
[submodule "bundle/closetag"]
    path = bundle/closetag
    url = https://github.com/vim-scripts/closetag.vim.git
    ignore = untracked
[submodule "bundle/pyflakes-vim"]
    path = bundle/pyflakes-vim
    url = https://github.com/kevinw/pyflakes-vim.git
    ignore = untracked
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/threesome"]
    path = bundle/threesome
    url = https://github.com/sjl/threesome.vim.git
    ignore = untracked
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "bundle/vim-commentary"]
    path = bundle/vim-commentary
    url = git://github.com/tpope/vim-commentary.git
    ignore = untracked
    ignore = untracked
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = git://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
