<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.ghickman.docs</string>
        <key>RunAtLoad</key>
        <true />
        <key>StartInterval</key>
        <integer>600</integer>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/george/.files/docs.sh</string>
        </array>
    </dict>
</plist>
